@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.screen .div {
    height: 852px;
    position: relative;
    width: 393px;
}

.screen .frame {
    height: 59px;
    left: 102px;
    position: absolute;
    top: 590px;
    width: 189px;
}

.screen .overlap-group {
    height: 59px;
    position: relative;
}

.screen .rectangle {
    background-color: #4f8a8b;
    border-radius: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 59px;
    left: 7px;
    position: absolute;
    top: 0;
    width: 175px;
}

.screen .START {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 27px;
    left: 0;
    letter-spacing: 0.9px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 189px;
}

.screen .overlap {
    height: 324px;
    left: 38px;
    position: absolute;
    top: 220px;
    width: 315px;
}

.screen .img {
    height: 315px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 315px;
}

.screen .polygon {
    height: 36px;
    left: 137px;
    position: absolute;
    top: -5px; /* 조정 가능 */
    width: 42px;
}

.screen .dot {
    background-color: #ffffff;
    border-radius: 50%;
    height: 3px;
    width: 3px;
    position: absolute;
}

.screen .dot:nth-child(1) {
    left: 195px;
    top: 100px;
}

.screen .dot:nth-child(2) {
    left: 184px;
    top: 103px;
}

.screen .dot:nth-child(3) {
    left: 204px;
    top: 103px;
}

.screen .iconamoon-home {
    height: 30px;
    left: 342px;
    position: absolute;
    top: 59px;
    width: 30px;
    cursor: pointer;
}

.screen .material-symbols {
    height: 35px;
    left: 20px;
    position: absolute;
    top: 59px;
    width: 35px;
    cursor: pointer;
}
