@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.screen .div {
    height: 852px;
    position: relative;
    width: 393px;
}

.screen .frame {
    height: 59px;
    left: 102px;
    position: absolute;
    top: 590px;
    width: 189px;
}

.screen .group {
    height: 59px;
    position: relative;
}

/* 버튼 스타일 - rectangle */
.rectangle {
    background-color: #4f8a8b;
    width: 175px;
    height: 60px;
    color: white;
    opacity: 0.8;
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 3px #00000040;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s; /* 애니메이션 */
}

/* hover 및 active 상태 */
.rectangle:hover {
    background-color: #406d6d; /* hover 상태에서 더 어두운 색 */
    transform: scale(1.05); /* hover 시 크기 살짝 확대 */
    box-shadow: 0px 5px 5px #00000050; /* hover 시 그림자 조금 더 강조 */
}

.rectangle:active {
    background-color: #365f5f; /* active 상태에서 더 어두운 색 */
    transform: scale(0.95); /* active 상태에서 살짝 축소 */
    box-shadow: 0px 2px 2px #00000030; /* active 시 그림자 감소 */
}

.screen .overlap {
    height: 324px;
    left: 38px;
    position: absolute;
    top: 220px;
    width: 315px;
}

.screen .img {
    height: 315px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 315px;
}

.screen .polygon {
    height: 36px;
    left: 137px;
    position: absolute;
    top: -5px; /* 조정 가능 */
    width: 42px;
}

.screen .dot {
    background-color: #ffffff;
    border-radius: 50%;
    height: 3px;
    width: 3px;
    position: absolute;
}

.screen .dot:nth-child(1) {
    left: 195px;
    top: 100px;
}

.screen .dot:nth-child(2) {
    left: 184px;
    top: 103px;
}

.screen .dot:nth-child(3) {
    left: 204px;
    top: 103px;
}
