.header {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;    /* 화면에 고정 */
    top: 10px;             /* 화면 상단에 위치 */
    z-index: 1000;      /* 다른 요소들보다 위에 표시되도록 */
    /*background-color: white;  !* 배경색 지정 (투명한 경우 다른 요소들이 보일 수 있음) *!*/
}
  
/*.header-title {*/
/*    font-size: 15px;*/
/*    font-weight: bold;*/
/*}*/

.header span {
    font-size: 15px;
    font-weight: normal;
    margin: 10px -20px; /* 버튼과 간격 조절 */
}

.icon-button {
    background: none;
    border: none;
    width: 40px; /* 버튼 크기 줄임 */
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button img {
    width: 100%; /* 버튼 크기에 맞게 조정 */
    height: 100%;
    object-fit: contain; /* 이미지가 버튼 크기에 맞게 조정됨 */
}


