
.header {
    width: 100%;
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: center;
    padding: 10px 20px;
    position: relative;
}
  
.icon-button {
    background: none;
    border: none;
    width: 50px; /* 버튼 크기 줄임 */
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.icon-button img {
    width: 100%; /* 버튼 크기에 맞게 조정 */
    height: 100%;
    object-fit: contain; /* 이미지가 버튼 크기에 맞게 조정됨 */
}
  
.header span {
    font-size: 25px;
    font-weight: bold;
    margin: 0 90px; /* 버튼과 간격 조절 */
}